.navmaincontainer {
    border-color: rgba(226, 226, 226, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-weight: 500;
    padding: 25px 60px;
  }
  @media (max-width: 991px) {
    .div {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .navsubcontainer {
    display: flex;
    margin-right: 41px;
    width: 814px;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-2 {
      margin-right: 10px;
      flex-wrap: wrap;
    }
  }
  .navonepart {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
    color: #000;
    margin: auto 0;
  }
  .navhome {
    font-family: Poppins, sans-serif;
  }
  .navaboutus {
    font-family: Poppins, sans-serif;
    font-weight: 600;
  }
  .navcontactus {
    font-family: Poppins, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
  }
  .navsecondpart {
    display: flex;
    gap: 9px;
    font-size: 15px;
    white-space: nowrap;
  }
  @media (max-width: 991px) {
    .div-7 {
      white-space: initial;
    }
  }
  .navdonate{
    font-family: Poppins, sans-serif;
    justify-content: center;
    border-radius: 70px;
    border-color: rgba(34, 34, 34, 1);
    border-style: solid;
    border-width: 1px;
    color: #000;
    flex-grow: 1;
    padding: 10px 36px;
  }
  @media (max-width: 991px) {
    .div-8 {
      white-space: initial;
      padding: 0 20px;
    }
  }
  .navsignin {
    font-family: Poppins, sans-serif;
    justify-content: center;
    border-radius: 70px;
    background-color: #222;
    color: #fff;
    flex-grow: 1;
    padding: 10px 43px;
  }
  @media (max-width: 991px) {
    .div-9 {
      white-space: initial;
      padding: 0 20px;
    }
  }